
body {
  
}

.app {
    display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-sizing: border-box;
  line-height: 2rem;
}
.header {
  max-width: 700px;
  width: 80%;
  margin: 100px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.component-frame {
  border: 2px solid white;
  padding: 35px;
  margin: 5px;
  width: 80%;
  max-width: 700px; 
}

.MuiBox-root{
  flex-wrap: wrap;
  justify-content: flex-end;
}


.menu-link{
  text-decoration: none;
  color: white;
}
.logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 20vmin;
  pointer-events: none;
}

.my-button{
  padding: 10px;
  background-color: #434e64;
  border:none;
  border-radius: 5px;
  color: white;
  margin: 15px 0 30px 0;
  cursor: pointer;
}


.component-heading{
  font-size: 30px;
  font-weight: bold;

}
.todo {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.todo-is-completed .checkbox {
  color: #000;
  background: #fff;
}

.todo-is-completed input {
  text-decoration: line-through;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;
  border: 1px solid #fff;
}

.checkbox:hover {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0);
}

.checkbox-checked {
  color: #000;
  background: #fff;
}

ul {
  list-style: none;
  padding: 0;
   
}
input {
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  outline: none;
  width: 80%;
}
.name-form{
  display: flex;
  justify-content: center;
}
.name-form input{
  
  filter: brightness(85%);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}


.color-circles{
  display: flex;
  justify-content: right;
  margin-top: 30px;
  width: 80%;
  max-width: 700px;
  gap: 15px;
  
}
.color-circles button{
border-radius: 50%;
width: 35px;
height: 35px;
border: 1px solid white;
cursor: pointer;
}

.weather-card{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 30px;
}
.weather-card-buttons{
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
}
.weather-card-buttons button{
  margin: 10px; 
}
.weather-card-data {
flex: 1 1 60%;
/* border: 1px white dotted; */
box-shadow: rgba(14, 30, 37, 0.80) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
padding: 10px;
height: 200px;
text-align: center;
}
.weather-card-data > img, p{
  margin:0;
}
.counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0; 
  filter: brightness(85%);
  box-shadow: rgba(14, 30, 37, 0.80) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 50%;
  min-width: 200px;
  margin: 20px 0;
}
.counter-input-field{
  filter: brightness(85%);
  text-align: center;
  padding: 5px;
}
.counter-buttons{
  display:flex;
  gap: 20px;
  
}

.counter-buttons button{
  width: 75px;
  cursor: pointer;
}
.align-center{
  display: flex;
  justify-content: center;
}
.counter-value{
  font-size: 30px;
}